/* Home.css */

.home-container {
    background: url('./home_image_2.jpg') center center fixed;
    background-size:cover;
    height: 100vh; 
    /* display: flex; */
    /* flex-direction: column; */

  }
  
  .home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 10px;
  }
  
  .home-content {
    text-align: center;
    color: red; /* Adjust text color based on your background */
  }
  