body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.transparent-navbar, .transparent-navbar .navbar-brand, .transparent-navbar .nav-link {
  color: #FFF !important; /* Bright white color */
  text-transform: uppercase; /* Transform text to uppercase */
}

.active-nav-link {
  border-bottom: 3px solid #64ffda; /* Example active link underline color */
}
.navbar-brand {
  cursor: pointer; /* This will change the cursor to a pointer */
}